<div id="Page-Account">
    <div id="accountHeader">
        <div class="accountHeaderElement" id="nameAndInfo">
            <h1>
                {{user.username}}'s account is ready for battle..
            </h1>
        </div>
        <div class="accountHeaderElement" id="leaderboard">
            scoreboard.
            <div id="scores">
                Scores in here
            </div>
        </div>
    </div>
    <div id="declareWarButton">
        <h1>!!!DECLARE WAR!!!</h1>

        <div id="declareWarAgainstWho">
            <form action="/create_game" method="POST">
                <select id="opponentSelector" name="opponent">
                    <option value="">Select Opponent...</option>
                    {{#each users}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select> 
                <input type="submit" value="Wage War"/>
            </form>

        </div>
    </div>
    <div id="gameDataBlock">
        <div class="gameData">
            <h3>Battles</h3>
            <div id="gameDataContainer">
                <div class="games">
                    <div class="game">
                        Tylers Game against Jordan
                    </div>
                </div>
            </div>
        </div>
        <div class="gameData">
            <h3>Declarations of War</h3>
            <div id="gameDataContainer">
                <div class="games">
                    <div class="game">
                        Jordan has declared war on you!
                    </div>

                </div>
            </div>
        </div>
        <div class="gameData">
            <h3>Finished Wars</h3>
            <div id="gameDataContainer">
                <div class="games">
                    <div class="game">
                        Tylers Lost the battle
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

const warButton = document.getElementById("declareWarButton");

warButton.addEventListener('mouseover', (ev) => {
    warButton.style.backgroundImage = 'url(/img/explosion_gif2.gif)';

})

warButton.addEventListener('mouseout', (ev) => {
    warButton.style.backgroundImage = '';
})

warButton.addEventListener





</script>