<div id="Page-Account">
    <div id="accountHeader">
        <div class="accountHeaderElement" id="nameAndInfo">
            <h1>
                {{user.username}}'s account is ready for battle..
            </h1>
        </div>
        <div class="accountHeaderElement" id="leaderboard">
            scoreboard.
        </div>
    </div>
    <div id="declareWarButton">
        Declaration of war
        <div>
            button content and rdopdown menu
        </div>
    </div>
    <div id="gameDataBlock">
        <div class="gameData">
            battles
            <div class="games">

            </div>
        </div>
        <div class="gameData">
            declarations of war
            <div class="games">

            </div>
        </div>
        <div class="gameData">
            finished wars
            <div class="games">

            </div>
        </div>
    </div>
</div>