<div id="Page-Game">
    <div id="Game" data-battle-id="{{ gameID }}">
        <div id="PlayerBoard"></div>
        <div id="OpponentBoard"></div>
    </div>
</div>
<script src="/js/game.js"></script>