<div id="Page-Game">
    <div id="Game" data-battle-id="{{ gameID }}">
        <div class="mode">

        </div>
        <div class="main">
            <div class="side" id="Player">
                <h2>Your Ocean</h2>
                <div class="board" id="PlayerBoard"></div>
            </div>
            <div class="side" id="Opponent">
                <h2>Opponent's Ocean</h2>
                <div class="board" id="OpponentBoard"></div>
            </div>
            <div class="side" id="VesselMenu">
                <h2>Vessel Select</h2>
                <div class="vessel-menu" id="VesselList">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/game_board.js"></script>
<script>

    const opponentBoard = new GameBoard(document.getElementById("OpponentBoard"));

    const ships = [];


    opponentBoard.startPlaceShip(4, '/img/fleet/standard/4.png', (ship) => {
        // Go to network to attempt to place ship?
        opponentBoard.addShips(ship);
        {{!-- opponentBoard.stopPlaceShip(); --}}
        console.log("PLACE", ship)
    });

</script>

