<div id="Page-Game">
    <div id="Game" data-game-id="{{gameID}}">
        <div class="mode">

        </div>
        <div class="main">
            <div class="side" id="Opponent">
                <h2>Prepare For Battle</h2>
                <div class="board" id="myBoard"></div>
            </div>
            <div id="confirm-placements-button">

                <button id="confirm">Confirm Placements</button>

            </div>
        </div>
    </div>
</div>
<script src="/js/game_board.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
<script>

    const myBoard = document.getElementById("myBoard")
    const gameID = document.getElementById("Game").dataset.gameId;
    const confirmButton = document.getElementById("confirm");


    console.dir(myBoard);

    const gameBoard = new GameBoard(myBoard, '/img/fleet/standard/');

    //compile and send shipsPositions in body
    confirmButton.addEventListener("click", () => {
        const ships = gameBoard.getShips();
        console.log(ships);
        axios.post('/confirm_placements/' + gameID);
    })

    const shipsToPlace = [
        { size: 4 },
        { size: 3, variant: 'a' },
        { size: 3, variant: 'b' },
        { size: 5 }
    ];

    let curIdx = 0;

    gameBoard.startPlaceShip(shipsToPlace[curIdx].size, shipsToPlace[curIdx].variant);

    gameBoard.addEventListener('shipPlaced', (ship) => {
        gameBoard.addShip(ship);
        if (curIdx < shipsToPlace.length - 1) {
            gameBoard.startPlaceShip(shipsToPlace[++curIdx].size, shipsToPlace[curIdx].variant)
        } else {
            gameBoard.stopPlaceShip();
        }
    });

</script>