<div id="Page-Game">
    <div id="Game" value="{{gameID}}" data-battle-id="{{ gameID }}">
        <div class="mode">

        </div>
        <div class="main">
            <div class="side" id="Opponent">
                <h2>Prepare For Battle</h2>
                <div class="board" id="myBoard"></div>
            </div>
            <div id="confirm-placements-button">
                <form action="/confirm_placements" method="POST">
                    <input id="postDataCarrier" type="hidden" name="gameBoardObjStringified" />
                    <input id="confirm" type="submit" value="Confirm Placements"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/game_board.js"></script>
<script>

    const myBoard = new GameBoard(document.getElementById("myBoard"));
    const postDataCarrier = document.getElementById("postDataCarrier");
    const confirmButton = document.getElementById("confirm");
    const gameID = document.getElementById("Game");


   

    const updateElementValue = (element, newDataString ) => {
        let andSymbol = "";
        if (element.value) {
            andSymbol = "&";
        }
       let old = element.value;
       
       element.value = old + andSymbol + newDataString;

    }

    

    //compile and send shipsPositions in body
    confirmButton.addEventListener("mousedown", () => {
        
        const outputShips = new Array(100).fill(false);
        console.log(outputShips);
        const ships = Object.values(myBoard.ships);
        for (let ship of ships) {
            for (let i = 0; i < outputShips.length; i ++ ) {
                if (ship.occupancy[i]) {
                    outputShips[i] = true;
                }
            }
        }
        updateElementValue(postDataCarrier, outputShips);
        updateElementValue(postDataCarrier, gameID.value);
        updateElementValue(postDataCarrier, "Even MORE info");

    })




    const shipsToPlace = [{
        size: 4,
        imgSrc: '/img/fleet/standard/4.png' 
    }, {
        size: 3,
        imgSrc: '/img/fleet/standard/3.png'
    }, {
        size: 5,
        imgSrc: '/img/fleet/standard/5.png'
    }];

    myBoard.startPlaceShip(5, '/img/fleet/standard/5.png', (ship) => {
        // Go to network to attempt to place ship?
        myBoard
.addShips(ship);
        {{!-- myBoard
.stopPlaceShip(); --}}
        console.log("PLACE", ship);
        console.log(myBoard.ships);
    });

</script>

