<div id="Page-Game">
    <div id="Game" value="{{gameID}}" data-battle-id="{{ gameID }}">
        <div class="mode">

        </div>
        <div class="main">
            <div class="side" id="Opponent">
                <h2>Prepare For Battle</h2>
                <div class="board" id="myBoard"></div>
            </div>
            <div id="confirm-placements-button">
                <form>
                    <input id="postDataCarrier" type="hidden" name=""/>
                    <input id="confirm" type="button" value="Confirm Placements"/>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/game_board.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
<script>
    
    const myBoard = new GameBoard(document.getElementById("myBoard"));
    const postDataCarrier = document.getElementById("postDataCarrier");
    const confirmButton = document.getElementById("confirm");
    
    //compile and send shipsPositions in body
    confirmButton.addEventListener("mousedown", () => {
        axios.post('/confirm_placements', {myBoard});
    })

    const shipsToPlace = [{
        size: 4,
        imgSrc: '/img/fleet/standard/4.png'
    }, {
        size: 3,
        imgSrc: '/img/fleet/standard/3.png'
    }, {
        size: 5,
        imgSrc: '/img/fleet/standard/5.png'
    }];

    myBoard.startPlaceShip(5, '/img/fleet/standard/5.png');

    myBoard.addEventListener('shipPlaced', (ship) => {
        myBoard.addShips(ship);
        myBoard.stopPlaceShip();
    })

    myBoard.addEventListener('shipClicked', (ship) => {
        console.log("clicked", ship);
    });

</script>