<div id="Page-Game">
    <div id="Game" data-battle-id="{{ gameID }}">
        <div class="mode">

        </div>
        <div class="main">
            <div class="side" id="Opponent">
                <h2>Prepare For Battle</h2>
                <div class="board" id="OpponentBoard"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/game_board.js"></script>
<script>

    const opponentBoard = new GameBoard(document.getElementById("OpponentBoard"));

    const shipsToPlace = [{
        size: 4,
        imgSrc: '/img/fleet/standard/4.png' 
    }, {
        size: 3,
        imgSrc: '/img/fleet/standard/3.png'
    }, {
        size: 5,
        imgSrc: '/img/fleet/standard/5.png'
    }];

    opponentBoard.startPlaceShip(5, '/img/fleet/standard/5.png', (ship) => {
        // Go to network to attempt to place ship?
        opponentBoard.addShips(ship);
        {{!-- opponentBoard.stopPlaceShip(); --}}
        console.log("PLACE", ship)
    });

</script>

