<div>
    <div>
        {{error}}
    </div>
    
    <form action="/signup" method="POST">
        <input type="text" placeholder="Name Of Admiral" name="username"/>
        <input type="password" placeholder="Password" name="password"/>
        <input type="submit" value="Make"/>
    
    </form>
</div>  