body {
    background-color: rgb(225, 225, 225);
}

#Page-Account {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#Page-Account div {
    display: flex;
    align-content: center;

}

#Page-Account #accountHeader {
    flex-direction: row;    
    justify-content: space-between;

}

#Page-Account .accountHeaderElement {
    margin: 10px 50px 50px 50px;
    background-color: lightpink;
    height:60px;
    
}

#Page-Account #nameAndInfo {
    align-items: center;
}

#Page-Account #leaderboard {
    width: 400px;
}


#Page-Account #gameDataBlock {
    justify-content: space-around;

}

#Page-Account #declareWarButton {
    width: calc(100% - 100px);
    height: 110px;
    background-color: grey;
    align-self: center;
    margin: 0px 0px 50px 0px;
    padding: 10px;
    border-radius: 10px;
}


#Page-Account .gameData {

    width: 33%;
    background-color: rgb(212, 212, 212);
    /* border: solid thin black; */
    padding: 0px 10px 0px 10px ;
    margin: 0px 50px 0px 50px;
    border-radius: 10px;
    



}

.