
body, html {
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    font-weight: normal;
}

input {
    padding: 13px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 3px;
}

input[type=submit] {
    border: 0;
}

input:focus { 
    outline: none;
}


/***************
Accounts Page..
****************/

#Page-Account {
    display: flex;
    align-content: center;
    flex-direction: column;
    color: rgb(110, 110, 110);
}

#Page-Account div {
    display: flex;
    align-content: center;

}

#Page-Account #accountHeader {
    flex-direction: row;    
    justify-content: space-between;

}

#Page-Account .accountHeaderElement {
    margin: 50px 50px 50px 50px;
    /* background-color: lightpink; */
    height:100px;
    
}

#Page-Account #nameAndInfo {
    
}

#Page-Account #leaderboard {
    width: 400px;
    flex-direction: column;

}

#Page-Account #leaderboard #scores {
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    border: thin darkgray solid;
    margin: 10px 0px 0px 0px;

}

#Page-Account .winLoseBox {
    text-align: center;
    font-size: 25px;
}

#Page-Account .winLoseBox#winBox {
    color: rgb(22, 172, 22);
}

#Page-Account .winLoseBox#lossBox {
    color: red;
}

#Page-Account #declareWarButton {
    width: calc(100% - 100px);
    height: 110px;
    background-color: hsl(0, 67%, 43%);
    align-self: center;
    margin: 0px 0px 50px 0px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    background-size: cover;
}

#Page-Account #declareWarAgainstWho {
    width: 400px;
    min-height: 40px;
    /* border: thin solid grey; */
    justify-content: space-around;
}

#Page-Account #declareWarAgainstWho:hover {
    
}

#Page-Account #gameDataBlock {
    justify-content: space-around;

}

#Page-Account .gameData {
    flex-direction: column;
    width: 33%;
    /* background-color: rgb(238, 238, 238); */
    /* border: solid thin black; */
    padding: 0px 0px 0px 0px ;
    margin: 0px 50px 0px 50px;
    
}

#Page-Account #gameDataContainer {
    min-height: 80px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    margin: 10px 0px 0px 0px;
}

#Page-Account .gameData .games {
    flex-direction: column;
    width: 100%;
    padding: 10px 0px 0px 0px;
    align-items: center;
    /* background-color: blue; */
}

#Page-Account .gameData .game {
    height: 80px;
    width: 95%;
    background-color: white;
    border-radius: 10px;
    margin: 0px 0px 15px 0px;
    padding: 5px;

}

/******************
 Login Page
*****************/

#Page-Login {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(50, 138, 123, .6);
}

#Page-Login::after {
    display: block;
    content: '';
    background-color: rgba(50, 138, 123, .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#Page-Login .login-container {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    padding: 40px;
    flex-direction: column;
}

#Page-Login #LoginForm input {
    width: 100%;
    margin-bottom: 20px;
}

#Page-Login #LoginForm input[type=submit] {
    background-color: #3686a3;
    color: white;
    font-weight: bold;
}

#Page-Login .form-errors {
    padding: 20px 0px;
    color: #cf0830;
    list-style-type: none;
}

#Page-Login h2 {
    margin-bottom: 20px;
}

/*********
Battle Page
***********/


#Page-Game {

}

#Page-Game .vessel-menu img {
    height: 40px;
}

#Page-Game .side {
    margin: 30px;
}

#Page-Game #Game .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Page-Game .board {
    display: flex;
    flex-direction: column;
    background-image: url('/img/water_texture.jpg');
    background-size: cover;
    position: relative;
}

#Page-Game .board .vessel {
    position: absolute;
    height: 50px;
    display: block;
    pointer-events: none;
}

#Page-Game .board .vessel.vertical {
    transform: rotate(90deg);
    transform-origin: 25px 25px;
}

#Page-Game .board .row {
    display: flex;
    flex-direction: row;
}

#Page-Game .board .row .cell {
    width: 50px;
    height: 50px;
    border: .5px solid rgba(255,255,255,0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#Page-Game .board .row .cell.header {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 18px;
    font-weight: bold;
}